<section class="about" id="about">
    <div class="container">
        <div class="about__head">
            <h2 class="title" data-aos="fade-right">about</h2>
            <a href="/" class="about__link" data-aos="fade-left"> 
                <div class="about__link-icon" >
                    <svg class="about__icon">
                        <use href="./img/icons/sprite.svg#icon-arrow-diag"></use>
                    </svg>
                </div>
                <span class="about__link-text">Learn more</span>
            </a>
        </div>

        <div class="about__wrapper">
            <img
                src="./img/about/about.jpg"
                srcset="./img/about/about.jpg 1x, ./img/about/about@2x.jpg 2x"
                alt="About image"
                class="about__img"
                data-aos="fade-right"
            />
            <div class="about__content" data-aos="fade-left">
                <div class="about__info">
                    <h3 class="about__title">Hi, we're Dickens Executive Coaching Academy</h3>
                    <p class="about__text">
                        Lorem ipsum dolor sit amet consectetur. Odio nec dictum tortor id proin
                        rhoncus elit. Orci lacus pellentesque ultrices ut aliquet non fusce faucibus
                        dictumst. Massa sit aliquam quam urna nam. Maecenas massa varius scelerisque
                        pellentesque. Vestibulum ut rhoncus iaculis eleifend. Euismod cras et tortor
                        at pellentesque duis cursus donec.
                    </p>
                </div>
                <div class="about__numbers-wrapper">
                    <div class="about__numbers">
                        <p class="about__number">5+</p>
                        <p class="about__text about__text--center">
                            years on the educational market
                        </p>
                    </div>
                    <div class="about__numbers">
                        <p class="about__number">1000+</p>
                        <p class="about__text about__text--center">successful graduates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
