<section class="advantages">
    <div class="container">
        <h2 class="title advantages__title" data-aos="fade-down">advantages</h2>

        <ul class="advantages__list">
            <li class="advantages__item" data-aos="fade-up" data-aos-duration="800">
                <svg class="advantages__icon">
                    <use href="./img/icons/sprite.svg#icon-rocket"></use>
                </svg>
                <h3 class="advantages__subtitle">Launch Your Coaching Career</h3>
                <p class="advantages__text">A comprehensive course track to ICF credentialing</p>
            </li>
            <li class="advantages__item" data-aos="fade-up" data-aos-duration="1200">
                <svg class="advantages__icon">
                    <use href="./img/icons/sprite.svg#icon-light"></use>
                </svg>
                <h3 class="advantages__subtitle">Coaching in the workplace</h3>
                <p class="advantages__text">Serve as a thought leader within your organization</p>
            </li>
            <li class="advantages__item" data-aos="fade-up" data-aos-duration="1600">
                <svg class="advantages__icon">
                    <use href="./img/icons/sprite.svg#icon-book"></use>
                </svg>
                <h3 class="advantages__subtitle">Continuing Coaching Education</h3>
                <p class="advantages__text">
                    Beginner or a seasoned pro, you'll find a course right for you
                </p>
            </li>
        </ul>
    </div>
</section>
