<section class="call-sheduling" id="call-sheduling">
    <div class="container">
        <div class="call-sheduling__wrapper">
            <div class="call-sheduling__content" data-aos="fade-right">
                <h2 class="title call-sheduling__title">
                    Companies, universities, directors and presidents
                </h2>
                <p class="call-sheduling__text">
                    If you'd like to learn more information about our work with large organizations,
                    let's schedule a call.
                </p>
            </div>
            <form class="call-sheduling__form" data-aos="fade-left">
                <div class="call-sheduling__inputs">
                    <input
                        type="text"
                        name="name"
                        autocomplete="off"
                        placeholder="Name"
                        required
                        class="input"
                    />
                    <input
                        type="email"
                        name="email"
                        autocomplete="off"
                        placeholder="Email"
                        required
                        class="input"
                    />
                </div>

                <button type="submit" class="call-sheduling__btn">Schedule a call</button>
            </form>
        </div>
    </div>
</section>
