<section class="courses" id="courses">
    <div class="container">
        <h2 class="title courses__title" data-aos="fade-right">Our courses</h2>

        <ul class="courses__list">
            <li class="courses__item" data-aos="fade-up">
                <div class="courses__head">
                    <div class="courses__level">
                        <div class="courses__level-icon">
                            <svg class="courses__icon">
                                <use href="./img/icons/sprite.svg#icon-star"></use>
                            </svg>
                        </div>
                        <h2 class="courses__level-title">
                            Level 1 (ACC Track) Experiential Executive Coaching Program
                        </h2>
                    </div>
                    <a href="/" class="courses__link">
                        <div class="courses__icon-wrapper">
                            <svg class="courses__link-icon">
                                <use href="./img/icons/sprite.svg#icon-arrow-diag"></use>
                            </svg>
                        </div>
                        <span class="courses__link-text">Details</span>
                    </a>
                </div>

                <ul class="courses__info">
                    <li class="courses__info-item">
                        <svg class="courses__info-icon">
                            <use href="./img/icons/sprite.svg#icon-clock"></use>
                        </svg>
                        <span class="courses__info-text">60-hour</span>
                    </li>
                    <li class="courses__info-item">
                        <svg class="courses__info-icon">
                            <use href="./img/icons/sprite.svg#icon-online"></use>
                        </svg>
                        <span class="courses__info-text">Online</span>
                    </li>
                    <li class="courses__info-item">
                        <svg class="courses__info-icon">
                            <use href="./img/icons/sprite.svg#icon-english"></use>
                        </svg>
                        <span class="courses__info-text">English</span>
                    </li>
                </ul>

                <div class="courses__content">
                    <h3 class="courses__subtitle">The Three Primary Coaching Program Models:</h3>
                    <ul class="courses__content-list">
                        <li class="courses__content-item">
                            <h4 class="courses__content-title">
                                Level 1 (ACC Track) Experiential Executive Coaching Program
                            </h4>
                            <ul class="courses__content-list-additional">
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        In-depth exploration of coaching foundations
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Mastery in effective communication strategies
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Proficiency in navigating ICF Core Competencies
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="courses__content-item">
                            <h4 class="courses__content-title">
                                Level 2 (ACC Track) Experiential Executive Coaching Program
                            </h4>
                            <ul class="courses__content-list-additional">
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Illustrates how coaching candidates acquire the necessary
                                        skills, tips, tools, and techniques for certification
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Progresses from data intake to knowledge acquisition,
                                        understanding, and ultimately wisdom
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Through practice and repetition, candidates achieve
                                        competence and transcendence in their coaching abilities
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="courses__content-item">
                            <h4 class="courses__content-title">
                                Level 3 The Coaching Engagement Model
                            </h4>
                            <ul class="courses__content-list-additional">
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Provides a structured framework for coaching sessions
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Guides coaches and clients through phases of awareness,
                                        discovery, goal setting, approach determination, progress
                                        tracking, and success evaluation
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Serves as a roadmap for the engagement, fostering clarity
                                        and mutual expectations between coach and client
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="courses__price">
                    <p class="courses__price-text">Price</p>
                    <span class="courses__price-value">$6 499</span>
                </div>

                <button class="courses__btn">JOIN</button>
            </li>
            <li class="courses__item" data-aos="fade-up">
                <div class="courses__head">
                    <div class="courses__level">
                        <div class="courses__level-icon">
                            <svg class="courses__icon">
                                <use href="./img/icons/sprite.svg#icon-star"></use>
                            </svg>
                        </div>
                        <h2 class="courses__level-title">
                            Level 2 (PCC Track) Experiential Executive Coaching Program
                        </h2>
                    </div>
                    <a href="/" class="courses__link">
                        <div class="courses__icon-wrapper">
                            <svg class="courses__link-icon">
                                <use href="./img/icons/sprite.svg#icon-arrow-diag"></use>
                            </svg>
                        </div>
                        <span class="courses__link-text">Details</span>
                    </a>
                </div>

                <ul class="courses__info">
                    <li class="courses__info-item">
                        <svg class="courses__info-icon">
                            <use href="./img/icons/sprite.svg#icon-clock"></use>
                        </svg>
                        <span class="courses__info-text">125 hours</span>
                    </li>
                    <li class="courses__info-item">
                        <svg class="courses__info-icon">
                            <use href="./img/icons/sprite.svg#icon-modules"></use>
                        </svg>
                        <span class="courses__info-text">9 modules</span>
                    </li>
                    <li class="courses__info-item">
                        <svg class="courses__info-icon">
                            <use href="./img/icons/sprite.svg#icon-online"></use>
                        </svg>
                        <span class="courses__info-text">Online</span>
                    </li>
                    <li class="courses__info-item">
                        <svg class="courses__info-icon">
                            <use href="./img/icons/sprite.svg#icon-english"></use>
                        </svg>
                        <span class="courses__info-text">English</span>
                    </li>
                </ul>

                <div class="courses__content">
                    <h3 class="courses__subtitle">The Three Primary Coaching Program Models:</h3>
                    <ul class="courses__content-list">
                        <li class="courses__content-item">
                            <h4 class="courses__content-title">
                                1.The Coaching Certification Model
                            </h4>
                            <ul class="courses__content-list-additional">
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        The program offers three pathways to proficiency: coaching,
                                        receiving coaching, or observing coaching sessions
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Emphasizes three core areas: ICF Ethics, ICF Regulations,
                                        and ICF Core Competencies
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Candidates focus on enhancing skills in performance
                                        coaching, behavioral coaching, and perceptual coaching
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="courses__content-item">
                            <h4 class="courses__content-title">2.The Coach's Learning Model</h4>
                            <ul class="courses__content-list-additional">
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Illustrates how coaching candidates acquire the necessary
                                        skills, tips, tools, and techniques for certification
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Progresses from data intake to knowledge acquisition,
                                        understanding, and ultimately wisdom
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Through practice and repetition, candidates achieve
                                        competence and transcendence in their coaching abilities
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="courses__content-item">
                            <h4 class="courses__content-title">3.The Coaching Engagement Model</h4>
                            <ul class="courses__content-list-additional">
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Provides a structured framework for coaching sessions
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Guides coaches and clients through phases of awareness,
                                        discovery, goal setting, approach determination, progress
                                        tracking, and success evaluation
                                    </p>
                                </li>
                                <li class="courses__content-item-additional">
                                    <svg class="courses__content-icon">
                                        <use href="./img/icons/sprite.svg#icon-check"></use>
                                    </svg>
                                    <p class="courses__content-text">
                                        Serves as a roadmap for the engagement, fostering clarity
                                        and mutual expectations between coach and client
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="courses__price">
                    <p class="courses__price-text">Price</p>
                    <span class="courses__price-value">$8 499</span>
                </div>

                <button class="courses__btn">JOIN</button>
            </li>
        </ul>
    </div>
</section>
