<section class="faq">
    <div class="container">
        <h2 class="title faq__title">FAQ</h2>

        <div class="faq__wrapper">
            <div class="accordion-container" data-aos="fade-right">
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            Lorem ipsum dolor sit amet consectetur. Bibendum proin
                            <div class="ac-icon-wrapper">
                                <svg class="ac-icon ac-icon-plus">
                                    <use href="./img/icons/sprite.svg#icon-plus"></use>
                                </svg>
                                <svg class="ac-icon ac-icon-minus">
                                    <use href="./img/icons/sprite.svg#icon-minus"></use>
                                </svg>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <div class="ac-text">
                            <div class="ac-line"></div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Ipsum lacus nulla in eget
                                sit. Lacus iaculis sed mollis mi massa tortor scelerisque sed amet.
                                Turpis et sit tincidunt eget. Dolor nisl fermentum cras erat nisl
                                facilisis. Et.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            Lorem ipsum dolor sit amet consectetur. Bibendum proin
                            <div class="ac-icon-wrapper">
                                <svg class="ac-icon ac-icon-plus">
                                    <use href="./img/icons/sprite.svg#icon-plus"></use>
                                </svg>
                                <svg class="ac-icon ac-icon-minus">
                                    <use href="./img/icons/sprite.svg#icon-minus"></use>
                                </svg>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <div class="ac-text">
                            <div class="ac-line"></div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Ipsum lacus nulla in eget
                                sit. Lacus iaculis sed mollis mi massa tortor scelerisque sed amet.
                                Turpis et sit tincidunt eget. Dolor nisl fermentum cras erat nisl
                                facilisis. Et.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            Lorem ipsum dolor sit amet consectetur. Bibendum proin
                            <div class="ac-icon-wrapper">
                                <svg class="ac-icon ac-icon-plus">
                                    <use href="./img/icons/sprite.svg#icon-plus"></use>
                                </svg>
                                <svg class="ac-icon ac-icon-minus">
                                    <use href="./img/icons/sprite.svg#icon-minus"></use>
                                </svg>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <div class="ac-text">
                            <div class="ac-line"></div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Ipsum lacus nulla in eget
                                sit. Lacus iaculis sed mollis mi massa tortor scelerisque sed amet.
                                Turpis et sit tincidunt eget. Dolor nisl fermentum cras erat nisl
                                facilisis. Et.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            Lorem ipsum dolor sit amet consectetur. Bibendum proin
                            <div class="ac-icon-wrapper">
                                <svg class="ac-icon ac-icon-plus">
                                    <use href="./img/icons/sprite.svg#icon-plus"></use>
                                </svg>
                                <svg class="ac-icon ac-icon-minus">
                                    <use href="./img/icons/sprite.svg#icon-minus"></use>
                                </svg>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <div class="ac-text">
                            <div class="ac-line"></div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Ipsum lacus nulla in eget
                                sit. Lacus iaculis sed mollis mi massa tortor scelerisque sed amet.
                                Turpis et sit tincidunt eget. Dolor nisl fermentum cras erat nisl
                                facilisis. Et.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <form class="faq__form" data-aos="fade-left">
                <h3 class="faq__form-title">Ask your question</h3>

                <div class="faq__form-inputs">
                    <input type="text" name="name" autocomplete="off" placeholder="Name" required class="input" />
                    <input type="email" name="email" autocomplete="off" placeholder="Email" required class="input" />
                    <textarea
                        name="question"
                        placeholder="Enter Your Question Here ....."
                        required
                        class="faq__textarea"
                    ></textarea>
                </div>

                <div class="faq__form-btn">
                    <button class="faq__btn">Send your message</button>
                </div>
            </form>
        </div>
    </div>
</section>
