<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <a href="/" class="footer__logo">
                <img
                    src="./img/logo/logo.png"
                    srcset="./img/logo/logo.png 1x, ./img/logo/logo@2x.png 2x"
                    alt="Logo"
                    class="footer__logo-img"
                />
            </a>
            <p class="footer__text">© 2024 Dickens Consulting Group, LLC</p>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#courses" class="footer__menu-link">Course</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#about" class="footer__menu-link">About</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#call-sheduling" class="footer__menu-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
