<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="/" class="header__logo" data-aos="fade-right">
                <img
                    src="./img/logo/logo.png"
                    srcset="./img/logo/logo.png 1x, ./img/logo/logo@2x.png 2x"
                    alt="Dickens academy logo"
                    class="header__logo-img"
                />
            </a>
            <div class="header__right" data-aos="fade-left">
                <ul class="header__menu-list">
                    <li class="header__menu-item active">
                        <a href="/" class="header__menu-link">Home</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#courses" class="header__menu-link">
                            Courses
                            <svg class="header__menu-icon">
                                <use href="../img/icons/sprite.svg#icon-arrow-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#about" class="header__menu-link">About</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#call-sheduling" class="header__menu-link">Contact us</a>
                    </li>
                </ul>
                <button class="header__btn">Login</button>
            </div>
        </div>
    </div>
</header>
