<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__content" data-aos="fade-right">
                <h1 class="hero__title">Welcome to Dickens Executive Coaching Academy</h1>
                <p class="hero__text">Your resource of choice for coaching education</p>
                <a href="/" class="hero__link">Explore Courses</a>
            </div>
            <img
                src="../img/hero/hero.jpg"
                srcset="../img/hero/hero.jpg 1x, ../img/hero/hero@2x.jpg 2x"
                alt="Banner photo"
                class="hero__img"
                data-aos="fade-left"
            />
        </div>
    </div>
</section>
