<section class="testimonials">
    <div class="container">
        <h2 class="title testimonials__title" data-aos="fade-right">Testimonials</h2>

        <ul class="glider testimonials__list">
            <li class="testimonials__item" data-aos="fade-right">
                <img
                    src="./img/testimonials/person-1.jpg"
                    srcset="
                        ./img/testimonials/person-1.jpg    1x,
                        ./img/testimonials/person-1@2x.jpg 2x
                    "
                    alt="Name"
                    class="testimonials__img"
                />
                <div class="testimonials__content">
                    <h5 class="testimonials__name">Name</h5>
                    <span class="testimonials__role">Role Here</span>
                    <div class="testimonials__rating">
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec ut.
                        Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere sed sit
                        rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae egestas. Porttitor
                        urna.
                    </p>
                </div>
            </li>
            <li class="testimonials__item" data-aos="fade-right">
                <img
                    src="./img/testimonials/person-2.jpg"
                    srcset="
                        ./img/testimonials/person-2.jpg    1x,
                        ./img/testimonials/person-2@2x.jpg 2x
                    "
                    alt="Name"
                    class="testimonials__img"
                />
                <div class="testimonials__content">
                    <h5 class="testimonials__name">Name</h5>
                    <span class="testimonials__role">Role Here</span>
                    <div class="testimonials__rating">
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec ut.
                        Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere sed sit
                        rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae egestas. Porttitor
                        urna.
                    </p>
                </div>
            </li>
            <li class="testimonials__item" data-aos="fade-right">
                <img
                    src="./img/testimonials/person-1.jpg"
                    srcset="
                        ./img/testimonials/person-1.jpg    1x,
                        ./img/testimonials/person-1@2x.jpg 2x
                    "
                    alt="Name"
                    class="testimonials__img"
                />
                <div class="testimonials__content">
                    <h5 class="testimonials__name">Name</h5>
                    <span class="testimonials__role">Role Here</span>
                    <div class="testimonials__rating">
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec ut.
                        Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere sed sit
                        rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae egestas. Porttitor
                        urna.
                    </p>
                </div>
            </li>
            <li class="testimonials__item" data-aos="fade-right">
                <img
                    src="./img/testimonials/person-2.jpg"
                    srcset="
                        ./img/testimonials/person-2.jpg    1x,
                        ./img/testimonials/person-2@2x.jpg 2x
                    "
                    alt="Name"
                    class="testimonials__img"
                />
                <div class="testimonials__content">
                    <h5 class="testimonials__name">Name</h5>
                    <span class="testimonials__role">Role Here</span>
                    <div class="testimonials__rating">
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec ut.
                        Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere sed sit
                        rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae egestas. Porttitor
                        urna.
                    </p>
                </div>
            </li>
            <li class="testimonials__item" data-aos="fade-right">
                <img
                    src="./img/testimonials/person-1.jpg"
                    srcset="
                        ./img/testimonials/person-1.jpg    1x,
                        ./img/testimonials/person-1@2x.jpg 2x
                    "
                    alt="Name"
                    class="testimonials__img"
                />
                <div class="testimonials__content">
                    <h5 class="testimonials__name">Name</h5>
                    <span class="testimonials__role">Role Here</span>
                    <div class="testimonials__rating">
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec ut.
                        Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere sed sit
                        rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae egestas. Porttitor
                        urna.
                    </p>
                </div>
            </li>
            <li class="testimonials__item" data-aos="fade-right">
                <img
                    src="./img/testimonials/person-2.jpg"
                    srcset="
                        ./img/testimonials/person-2.jpg    1x,
                        ./img/testimonials/person-2@2x.jpg 2x
                    "
                    alt="Name"
                    class="testimonials__img"
                />
                <div class="testimonials__content">
                    <h5 class="testimonials__name">Name</h5>
                    <span class="testimonials__role">Role Here</span>
                    <div class="testimonials__rating">
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec ut.
                        Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere sed sit
                        rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae egestas. Porttitor
                        urna.
                    </p>
                </div>
            </li>
            <li class="testimonials__item" data-aos="fade-right">
                <img
                    src="./img/testimonials/person-1.jpg"
                    srcset="
                        ./img/testimonials/person-1.jpg    1x,
                        ./img/testimonials/person-1@2x.jpg 2x
                    "
                    alt="Name"
                    class="testimonials__img"
                />
                <div class="testimonials__content">
                    <h5 class="testimonials__name">Name</h5>
                    <span class="testimonials__role">Role Here</span>
                    <div class="testimonials__rating">
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec ut.
                        Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere sed sit
                        rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae egestas. Porttitor
                        urna.
                    </p>
                </div>
            </li>
            <li class="testimonials__item" data-aos="fade-right">
                <img
                    src="./img/testimonials/person-2.jpg"
                    srcset="
                        ./img/testimonials/person-2.jpg    1x,
                        ./img/testimonials/person-2@2x.jpg 2x
                    "
                    alt="Name"
                    class="testimonials__img"
                />
                <div class="testimonials__content">
                    <h5 class="testimonials__name">Name</h5>
                    <span class="testimonials__role">Role Here</span>
                    <div class="testimonials__rating">
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                        <svg class="testimonials__star">
                            <use href="./img/icons/sprite.svg#icon-rating-star"></use>
                        </svg>
                    </div>
                    <p class="testimonials__text">
                        Lorem ipsum dolor sit amet consectetur. Sed commodo lorem sit nec ut.
                        Habitant mattis in vitae sagittis maecenas sed. Sed sit posuere sed sit
                        rhoncus. Nunc leo eu volutpat laoreet est arcu odio vitae egestas. Porttitor
                        urna.
                    </p>
                </div>
            </li>
        </ul>

        <div class="testimonials__glider-controls-wrapper" data-aos="fade-up">
            <div class="testimonials__glider-controls">
                <button class="glider-prev testimonials__glider-button">
                    <svg class="testimonials__arrow testimonials__arrow--left">
                        <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>

                <div role="tablist" class="dots"></div>
                
                <button class="glider-next testimonials__glider-button">
                    <svg class="testimonials__arrow testimonials__arrow--right">
                        <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
